@import 'tailwindcss';

@theme {
  --font-sans: 'Be Vietnam Pro', system-ui, sans-serif;
  --color-primary: #f05123;
  --color-primary-dark: #e0481c;
}

@layer base {
  html {
    @apply antialiased;
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen bg-white font-sans text-[#292929];
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
